body{
    background-color: #FEFEFC;
}
.main{
    display: grid;
    height: 96vh;
    grid-template-rows: 37% 15% 10% 1% 37%;
    grid-template-columns: 45% 10% 45%;
}
#mainPicture{
    grid-area: 1/1/-1/-1;
    background-color: #DBE0DA;
}
.green{
    color: #494E48;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title{
    grid-area: 2/1/3/-1;
    font-size: 8rem;
    font-weight: bold;
}
.cotitle{
    grid-area: 3/1/4/-1;
    font-size: 2rem;
}
.rectangle{
    grid-area: 4/2/5/3;
    background-color: #73877c;

}
.articles{
    background-color: #F4F6F3;
    height: fit-content;
    width: 100%;
    margin: 0px;
    padding: 260px 0px 180px 0px;
}
.articleHolder{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
}   
.article{
    height: 400px;
    width: 340px;
    box-shadow: 0px 0px 20px 1px #73877c;
    background-color: #FDFDFD;
    margin: auto;
    border-radius:20px;
}
.article-picture{
    height: 50%;
    background-color: #494E48;
    border-radius: 20px 20px 0px 0px;
}
.article-inside-line{
    background-color: #494E48;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
    height: 3px;
    border-radius: 4px;
}
.article-description{
    color: #494E48;
    padding: 30px;
    text-align: center;
    font-weight: bold;
}
.about{
    height: 500px;
    width: 100%;
    display: flex;
}
.about-picture{
    background-color: #494E48;
}


@media (max-width:420px) {
    .about-picture{
        width: 450px;
        height: 100%;
    }  

}
@media (min-width:421px) and (max-width:720px) {
    .about-picture{
        width: 450px;
        height: 100%;
    }  
}
@media (min-width:721px) and (max-width:10000px) {
    .about-picture{
        width: 500px;
        height: 100%;
    }    

}